In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\aruna tangirala\documents\anu_documents\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\aruna tangirala\documents\anu_documents\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd
excel_df = pd.read_excel('sample-xlsx-file.xlsx')

In [7]:
excel_df

,Name,Email,Date Of Birth,Salary,Department
0,Rajeev Singh,rajeev@example.com,1992-07-21,1500000,Software Engineering
1,John Doe,john@example.com,1965-01-13,1300000,Sales
2,Jack Sparrow,jack@example.com,1986-12-19,1000000,HR
3,Steven Cook,steven@example.com,1994-05-04,1200000,Marketing