In [6]:
# Series

import pandas as pd

my_list = [10,20,30]

data = pd.Series(my_list)

print(data)
print(data.index) # provide the range of index
print(data.values) # display the values

0    10
1    20
2    30
dtype: int64
RangeIndex(start=0, stop=3, step=1)
[10 20 30]

my_list = [10,20,30]

data = pd.Series(my_list)
data

0    10
1    20
2    30
dtype: int64


1.The left side (0,1,2,3,4) is the index (like row numbers in Excel).
2.The right side (10,20,30,40,50) is the actual data.
3.Itâ€™s like a labeled list!

In [9]:
import numpy as np
import pandas as pd 

index = ['a','b','c']
array = np.array([10,20,20])

a = pd.Series(data=array,index=index)
a

a    10
b    20
c    20
dtype: int64

In [10]:
# Creating series from dictionaries
d = {'a':10, 'b':20, 'c':30}
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [20]:
# Pandas makes use of these index names or numbers by allowing for fast lookups of information (works like a hash table or dictionary).
data = pd.Series(['USA','NY','EUR'],index=[1,2,3])
data2 = pd.Series(['Ind','MY','EUR'],index=[1,2,3])
print(data[3])

EUR

In [22]:
print(data+' '+data2)

1    USA Ind
2      NY MY
3    EUR EUR
dtype: object

# Dataframe
A DataFrame is like a full table in Excel with multiple columns and rows.

In [29]:
df = pd.DataFrame([[1, 2, 3],
                   [3, 4, 5],
                   [5, 6, 7],
                   [7, 8, 9]],columns=['a','b','c'])
print(df)
print(df.shape)
df.index

   a  b  c
0  1  2  3
1  3  4  5
2  5  6  7
3  7  8  9
(4, 3)

RangeIndex(start=0, stop=4, step=1)

Each column is a Series, and together they form a DataFrame.

ðŸ“Œ Think of it like:ðŸ“Š DataFrame = A full table (like an Excel sheet with multiple columns).

In [35]:
d = {'a':10, 'b':20, 'c':30}
c=pd.Series(d)
print(c)
pd.DataFrame(c,columns=['abc'])

a    10
b    20
c    30
dtype: int64

   abc
a   10
b   20
c   30